.cooks-top
  .cooks-top__middle-head
    .cooks-top__middle-head__title
      .cooks-top__middle-head__title__name
        -if cook_signed_in?
          #{current_cook.nickname}さん
          =link_to edit_cook_registration_path(current_cook.id) do
            %i.fas.fa-cog
        -elsif restaurant_signed_in?
          #{current_restaurant.name}様
        - else
          ゲストさん
      -if cook_signed_in?
        .cooks-top__middle-head__title__submit
          =link_to new_portfolio_path do
            作品の投稿
        .cooks-top__middle-head__title__submit
          =link_to new_article_path do
            記事の投稿
      -elsif restaurant_signed_in?
        ！未実装！
      -else
        .cooks-top__middle-head__title__testsubmit
          =form_for(:cook, url: cook_session_path) do |f|
            -# =f.label "調理人テストログイン"
            =f.hidden_field :email, value: "c@com"
            =f.hidden_field :password, value: "itamae3"
            =f.submit "調理人テストログイン",class: "cooks-top__middle-head__title__submit"
        -# .cooks-top__middle-head__title__submit
        -#   店舗テストログイン（未実装）

    .cooks-top__middle-head__tabs
      = link_to "#cooks-top__contents__portfolios", class:"tab" do
        .cooks-top__middle-head__tabs__pf.is-active
          .cooks-top__middle-head__tabs__pf__title
            works
      = link_to " #cooks-top__contents__articles", class:"tab" do
        .cooks-top__middle-head__tabs__ac
          .cooks-top__middle-head__tabs__ac__title
            articles
      - if cook_signed_in?
        = link_to "#cooks-top__contents__profile", class:"tab" do
          .cooks-top__middle-head__tabs__prof
            .cooks-top__middle-head__tabs__prof__title
              profile
  .cooks-top__contents.panel-group
    #cooks-top__contents__portfolios.panel.is-show
      - @portfolios.each do |portfolio|
        = render partial: "portfolios/portfolio", locals: { portfolio: portfolio }
    #cooks-top__contents__articles.panel
      - @articles.each do |article|
        = render partial: 'articles/article', locals: { article: article}
    -if cook_signed_in? 
      #cooks-top__contents__profile.panel
        = render template: 'cooks/show'