.cooks-top
  -# = render "shared/header"
  .cooks-top__middle-head
    .cooks-top__middle-head__name
      -if cook_signed_in?
        #{current_cook.nickname}さん
      - else
        ゲストさん
    .cooks-top__middle-head__test
      -if cook_signed_in?
        =link_to new_portfolio_path do
          テスト用投稿
    .cooks-top__middle-head__tabs
      %ul.tab-group
        = link_to "#item1", class:".is-active" do
          %li.cooks-top__middle-head__tabs__pf.tab.is-active
            works
        = link_to "#item2", class:"" do
          %li.cooks-top__middle-head__tabs__ac.tab
            articles
        = link_to "#item3", class:"" do
          %li.cooks-top__middle-head__tabs__prof.tab
            profile
  .cooks-top__contents.panel-group
    .cooks-top__contents__portfolios.panel.is-show#item1
      - @portfolios.each do |portfolio|
        = render partial: "portfolios/portfolio", locals: { portfolio: portfolio }
    .cooks-top__contents__articles.panel#item2
    .cooks-top__contents__profile.panel#item3