= render "shared/header"
= link_to "Sign up", new_cook_registration_path
= link_to "店舗Sign up", new_restaurant_registration_path
= link_to "Log in", new_cook_session_path
= link_to "Log out", destroy_cook_session_path,method: :delete
