.cooks-top__contents__portfolios__thumbnail
  .cooks-top__contents__portfolios__thumbnail__img
    =image_tag portfolio.image1.url size: "250x200", class:"image"
  .cooks-top__contents__portfolios__thumbnail__footer
    .cooks-top__contents__portfolios__thumbnail__footer__title
      = "#{portfolio.title}"
    .cooks-top__contents__portfolios__thumbnail__footer__utility
      %ul
        %li 
          =link_to "詳細","#modal__content" , class: "js-modal-open"
          .portfolio-show-modal.modal.js-modal
            .portfolio-show-modal__bg.modal__bg.js-modal-close
            .portfolio-show-modal__show-portfolio#modal__content.clearfix
              .portfolio-show-modal__show-portfolio__image
                =image_tag portfolio.image1.url size: "250x200", class:"image"
              .portfolio-show-modal__show-portfolio__technic
                .portfolio-show-modal__show-portfolio__technic__title
                  使用技術
                .portfolio-show-modal__show-portfolio__technic__content
                  #{portfolio.tecnic}
              .portfolio-show-modal__show-portfolio__detail
                .portfolio-show-modal__show-portfolio__detail__title
                  説明
                .portfolio-show-modal__show-portfolio__detail__content
                  #{portfolio.detale}
        -if cook_signed_in? && portfolio.cook_id == current_cook.id
          %li
            =link_to "編集", edit_portfolio_path(portfolio.id), method: :get
          %li
            =link_to "削除", "/portfolios/#{portfolio.id}", method: :delete

    