%h2 ユーザー新規登録
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :nickname
    %br/
    = f.text_field :nickname, class:"form", autofocus: true, autocomplete: "料理人太郎"
  .field
    = f.label :氏
    %br/
    = f.text_field :first_name, class:"half_form", autofocus: true, autocomplete: "料理"
  .field
    = f.label :名
    %br/
    = f.text_field :last_name, class:"half_form", autofocus: true, autocomplete: "太郎"
  .field
    = f.label :email
    %br/
    = f.email_field :email, class:"form", autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} 文字以上)
    %br/
    = f.password_field :password, class:"form", autocomplete: "new-password"
  .field
    = f.label :password確認
    %br/
    = f.password_field :password_confirmation, class:"form", autocomplete: "new-password"
  .actions
    = f.submit "登録する", class: "submit_btn"
-# = render "cooks/shared/links"
